<h2>Create New Landmark</h2>

<!-- add content here -->

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>

<form action="/landmarks" method="POST">

    <label>Landmarks:</label><br>
    <input id= "landmark_name" type="text" name="landmark[name]">
    <br>
    <label>Landmarks Year Completed:</label><br>
    <input id= "landmark_year_completed" type="text" name="landmark[year_completed]">
   
    
   
  <input type="submit" value="Create New Landmark">
</form>