
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>show</title>
  </head>
  <body>
    <h1>Figures</h1>
        <% @figures.each do |figure| %>
            <h3><%=figure.name%></h3><br>
        <% end %>
            
     
  </body>
</html>